@model Sap.Areas.Admin.Models.ContentUnitModel
           
<!--@Model.Name begin -->
<div class="contentUnit">
    <div class="title">@Model.Title</div>
    <div class="content">
        <input type="text" class="inputText" name="@Model.Name" value="@Model.DefaultValue" @(string.IsNullOrWhiteSpace(Model.ValidatorRules)?"":"s-validator-rules="+Model.ValidatorRules)  s-validator-onfail="this.setAttribute('error','');" s-validator-onsucceed="this.removeAttribute('error');" />
    </div>
    @{
        if (!string.IsNullOrWhiteSpace(Model.Tips))
        {
    <div class="tip">@Model.Tips</div>

        }
    }
</div>
<!--@Model.Name Over -->
